@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?70724985');
  src: url('../font/fontello.eot?70724985#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?70724985') format('woff2'),
       url('../font/fontello.woff?70724985') format('woff'),
       url('../font/fontello.ttf?70724985') format('truetype'),
       url('../font/fontello.svg?70724985#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?70724985#fontello') format('svg');
  }
}
*/
 
 [class^="tgp-"]:before, [class*=" tgp-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.tgp-spin1:before { content: '\e800'; } /* '' */
.tgp-spin2:before { content: '\e801'; } /* '' */
.tgp-cog:before { content: '\e802'; } /* '' */
.tgp-cog-alt:before { content: '\e803'; } /* '' */
.tgp-down-circled2:before { content: '\e804'; } /* '' */
.tgp-up-circled2:before { content: '\e805'; } /* '' */
.tgp-up-circled:before { content: '\e806'; } /* '' */
.tgp-down-circled:before { content: '\e807'; } /* '' */
.tgp-expand:before { content: '\e808'; } /* '' */
.tgp-collapse:before { content: '\e809'; } /* '' */
.tgp-floppy:before { content: '\e80a'; } /* '' */
.tgp-cancel-circled2:before { content: '\e80b'; } /* '' */
.tgp-cancel-circled:before { content: '\e80c'; } /* '' */
.tgp-plus:before { content: '\e80d'; } /* '' */
.tgp-plus-circled:before { content: '\e80e'; } /* '' */
.tgp-plus-squared:before { content: '\e80f'; } /* '' */
.tgp-plus-squared-alt:before { content: '\e810'; } /* '' */
.tgp-block:before { content: '\e811'; } /* '' */
.tgp-floppy-1:before { content: '\e812'; } /* '' */
.tgp-cog-1:before { content: '\e813'; } /* '' */
.tgp-params:before { content: '\e814'; } /* '' */
.tgp-pencil:before { content: '\e815'; } /* '' */
.tgp-trash:before { content: '\e816'; } /* '' */
.tgp-trash-empty:before { content: '\e817'; } /* '' */
.tgp-trash-1:before { content: '\e818'; } /* '' */
.tgp-trash-2:before { content: '\e819'; } /* '' */
.tgp-cancel-circled-1:before { content: '\e81a'; } /* '' */
.tgp-cancel-squared:before { content: '\e81b'; } /* '' */
.tgp-check:before { content: '\e81c'; } /* '' */
.tgp-check-empty:before { content: '\e81d'; } /* '' */
.tgp-block-1:before { content: '\e81e'; } /* '' */
.tgp-check-2:before { content: '\e81f'; } /* '' */
.tgp-check-empty-1:before { content: '\e820'; } /* '' */
.tgp-cog-2:before { content: '\e821'; } /* '' */
.tgp-sliders:before { content: '\e822'; } /* '' */
.tgp-plus-1:before { content: '\e823'; } /* '' */
.tgp-plus-circled-1:before { content: '\e824'; } /* '' */
.tgp-cancel:before { content: '\e825'; } /* '' */
.tgp-plus-squared-1:before { content: '\e826'; } /* '' */
.tgp-attention:before { content: '\e827'; } /* '' */
.tgp-attention-1:before { content: '\e828'; } /* '' */
.tgp-attention-2:before { content: '\e829'; } /* '' */
.tgp-attention-3:before { content: '\e82a'; } /* '' */
.tgp-attention-4:before { content: '\e82b'; } /* '' */
.tgp-exchange:before { content: '\f0ec'; } /* '' */